<div class="container">
    <div class="row header">
        <div class="col-md-3">
            <img class="#" src="">
        </div>
        <div class="col-md-6">
            <h1>Steal the Burgers!</h1>
        </div>
        <div class="col-md-3">
            <img class="#" src="">
        </div>
    </div>

    <div class="row input">
        <div class="col-md-12">
            <h4>Eat the burgers you'd like to eat by clicking on them. Want to add a burger to steal? Type in a new burger name  and click "Submit"</h4>
            <div class="input-group mb-3">
                <input id="usersBurger" type="text" class="form-control" placeholder="Burger Name" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-secondary submit" type="button">Submit</button>
                </div>
            </div>
            <br>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 burgers">
            {{#each burgers}}
            {{#unless devoured}}
            {{> burger/burger-block devoured=false}}
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-6">
            {{#each burgers}}
            {{#if devoured}}
            {{> burger/burger-block devoured=true}}
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>